<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
	">



	<context:component-scan base-package="com.wjs.schedule.service" />
	<bean id="cuckooClient" lazy-init="false" class="com.wjs.schedule.executor.framerwork.CuckooClient">
		<property name="server" value="127.0.0.1:8888,127.0.0.2:8887,127.0.0.3:8678"/>
		<!-- 服务器通过appName区分不同应用，appName/clientIp/Tag能够区分出唯一的应用 -->
		<property name="appName" value="member"/>
		<!-- 服务器在相同的应用中通过clientIp +tag 区分客户端，如果一台机器上面部署多个客户端的时候，需要设置clientTag，否则默认DEFAULT
        <property name="clientTag" value="tag1"/>
         -->
	</bean>
	

</beans>