<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:annotation-driven /> 
	
	<bean id="cuckooClient" lazy-init="false" class="com.wjs.schedule.executor.framerwork.CuckooClient">
		<property name="server" value="127.0.0.1:10115,127.0.0.1:10116,127.0.0.1:10117"/>
		<!-- 服务器通过appName区分不同应用，appName/clientIp/Tag能够区分出唯一的应用 -->
		<property name="appName" value="member"/>
        <property name="clientTag" value="tag2"/>
	</bean>
	
	<import resource="classpath*:spring/spring-service.xml" />
	
</beans>
