<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjs.schedule.dao.exec.CuckooJobDetailMapper" >
  <resultMap id="BaseResultMap" type="com.wjs.schedule.domain.exec.CuckooJobDetail" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="exec_job_type" property="execJobType" jdbcType="VARCHAR" />
    <result column="job_class_application" property="jobClassApplication" jdbcType="VARCHAR" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_desc" property="jobDesc" jdbcType="VARCHAR" />
    <result column="trigger_type" property="triggerType" jdbcType="VARCHAR" />
    <result column="type_daily" property="typeDaily" jdbcType="VARCHAR" />
    <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="offset" property="offset" jdbcType="INTEGER" />
    <result column="job_status" property="jobStatus" jdbcType="VARCHAR" />
    <result column="cuckoo_parallel_job_args" property="cuckooParallelJobArgs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, group_id, exec_job_type, job_class_application, job_name, job_desc, trigger_type, 
    type_daily, cron_expression, offset, job_status, cuckoo_parallel_job_args
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetailCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cuckoo_job_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from cuckoo_job_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="lockByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from cuckoo_job_detail
    where id = #{id,jdbcType=BIGINT} for update 
  </select>
  <select id="lockByExample" resultMap="BaseResultMap" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetailCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <include refid="Base_Column_List" />
    from cuckoo_job_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
     for update 
  </select>
  <select id="pageByExample" resultMap="BaseResultMap" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetailCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cuckoo_job_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="lastInsertId" resultType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
      select case lastId when 0 then 'can not get last insert id' else lastId end as lastId from ( select  LAST_INSERT_ID() lastId ) s1  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from cuckoo_job_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetailCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from cuckoo_job_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetail" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into cuckoo_job_detail (id, group_id, exec_job_type, 
      job_class_application, job_name, job_desc, 
      trigger_type, type_daily, cron_expression, 
      offset, job_status, cuckoo_parallel_job_args
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{execJobType,jdbcType=VARCHAR}, 
      #{jobClassApplication,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{jobDesc,jdbcType=VARCHAR}, 
      #{triggerType,jdbcType=VARCHAR}, #{typeDaily,jdbcType=VARCHAR}, #{cronExpression,jdbcType=VARCHAR}, 
      #{offset,jdbcType=INTEGER}, #{jobStatus,jdbcType=VARCHAR}, #{cuckooParallelJobArgs,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetail" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into cuckoo_job_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="execJobType != null" >
        exec_job_type,
      </if>
      <if test="jobClassApplication != null" >
        job_class_application,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="jobDesc != null" >
        job_desc,
      </if>
      <if test="triggerType != null" >
        trigger_type,
      </if>
      <if test="typeDaily != null" >
        type_daily,
      </if>
      <if test="cronExpression != null" >
        cron_expression,
      </if>
      <if test="offset != null" >
        offset,
      </if>
      <if test="jobStatus != null" >
        job_status,
      </if>
      <if test="cuckooParallelJobArgs != null" >
        cuckoo_parallel_job_args,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="execJobType != null" >
        #{execJobType,jdbcType=VARCHAR},
      </if>
      <if test="jobClassApplication != null" >
        #{jobClassApplication,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null" >
        #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="triggerType != null" >
        #{triggerType,jdbcType=VARCHAR},
      </if>
      <if test="typeDaily != null" >
        #{typeDaily,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="offset != null" >
        #{offset,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null" >
        #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="cuckooParallelJobArgs != null" >
        #{cuckooParallelJobArgs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetailCriteria" resultType="java.lang.Integer" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select count(*) from cuckoo_job_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update cuckoo_job_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=BIGINT},
      </if>
      <if test="record.execJobType != null" >
        exec_job_type = #{record.execJobType,jdbcType=VARCHAR},
      </if>
      <if test="record.jobClassApplication != null" >
        job_class_application = #{record.jobClassApplication,jdbcType=VARCHAR},
      </if>
      <if test="record.jobName != null" >
        job_name = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobDesc != null" >
        job_desc = #{record.jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.triggerType != null" >
        trigger_type = #{record.triggerType,jdbcType=VARCHAR},
      </if>
      <if test="record.typeDaily != null" >
        type_daily = #{record.typeDaily,jdbcType=VARCHAR},
      </if>
      <if test="record.cronExpression != null" >
        cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.offset != null" >
        offset = #{record.offset,jdbcType=INTEGER},
      </if>
      <if test="record.jobStatus != null" >
        job_status = #{record.jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.cuckooParallelJobArgs != null" >
        cuckoo_parallel_job_args = #{record.cuckooParallelJobArgs,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update cuckoo_job_detail
    set id = #{record.id,jdbcType=BIGINT},
      group_id = #{record.groupId,jdbcType=BIGINT},
      exec_job_type = #{record.execJobType,jdbcType=VARCHAR},
      job_class_application = #{record.jobClassApplication,jdbcType=VARCHAR},
      job_name = #{record.jobName,jdbcType=VARCHAR},
      job_desc = #{record.jobDesc,jdbcType=VARCHAR},
      trigger_type = #{record.triggerType,jdbcType=VARCHAR},
      type_daily = #{record.typeDaily,jdbcType=VARCHAR},
      cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      offset = #{record.offset,jdbcType=INTEGER},
      job_status = #{record.jobStatus,jdbcType=VARCHAR},
      cuckoo_parallel_job_args = #{record.cuckooParallelJobArgs,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetail" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update cuckoo_job_detail
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="execJobType != null" >
        exec_job_type = #{execJobType,jdbcType=VARCHAR},
      </if>
      <if test="jobClassApplication != null" >
        job_class_application = #{jobClassApplication,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null" >
        job_desc = #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="triggerType != null" >
        trigger_type = #{triggerType,jdbcType=VARCHAR},
      </if>
      <if test="typeDaily != null" >
        type_daily = #{typeDaily,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="offset != null" >
        offset = #{offset,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null" >
        job_status = #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="cuckooParallelJobArgs != null" >
        cuckoo_parallel_job_args = #{cuckooParallelJobArgs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjs.schedule.domain.exec.CuckooJobDetail" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update cuckoo_job_detail
    set group_id = #{groupId,jdbcType=BIGINT},
      exec_job_type = #{execJobType,jdbcType=VARCHAR},
      job_class_application = #{jobClassApplication,jdbcType=VARCHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      job_desc = #{jobDesc,jdbcType=VARCHAR},
      trigger_type = #{triggerType,jdbcType=VARCHAR},
      type_daily = #{typeDaily,jdbcType=VARCHAR},
      cron_expression = #{cronExpression,jdbcType=VARCHAR},
      offset = #{offset,jdbcType=INTEGER},
      job_status = #{jobStatus,jdbcType=VARCHAR},
      cuckoo_parallel_job_args = #{cuckooParallelJobArgs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>